.flex{
    display: flex;
}

.border{
    border: 2px solid red;
}
.m1{
    margin: 4px;
}
.p1{
    padding: 10px;
}
.invert{
    filter: invert(1);
}
.bgcolor{
    background-color: #1A1F36
}
.round{
    border-radius: 10px; 
}
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar*/
 }

::-webkit-scrollbar-track {
    background: #333; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #666; /* color of the thumb */
    /* border-radius: 5px; roundness of the thumb */
}